{% extends "layout.html" %}
{% block body %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign</title>

    <link rel="stylesheet" href="/static/css/campaign.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
      $("#my_Input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#my_Table_cam tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
   
</head>

<body>
    <div>
        <input style="    width: 270px;
        margin-top: 10px;
        margin-left: 365px;
        text-align: center;
        border-radius: 10px;" id="my_Input" type="text"
        placeholder="Search..">
     </div>
    <div class="report-container" style="    margin: 3px 2px 25px 15px">
       
        <h2 style="color: #0a1aff;">Inventry MANEGMENT</h2>
    
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>S no</th>
                        <th>Device name</th>
                        <th>Storage</th>
                        <th>Serial number</th>
                        <th>Ram</th>
                        <th>Charger ser</th>
                        <th>Mouse ser</th>
                        <th>Extra device</th>
                        <th>Assign</th>
                        <th>Assign date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="my_Table_cam">

                    {% for item in system_inventry %}

                    <tr>
                        <td>{{ item["sno"] }}</td>
                        <td>{{ item["divice_name"] }}</td>
                        <td>{{ item["storage"] }}</td>
                        <td>{{ item["serial_number"] }}</td>
                        <td>{{ item["ram"] }}</td>
                        <td>{{ item["charger_serialnum"] }}</td>
                        <td>{{ item["mouse_serialnum"] }}</td>
                        <td>{{ item["extra_device"] }}</td>
                        <td>{{ item["assign"] }}</td>
                        <td>{{ item["assign_date"] }}</td>

                        <td>
                            <form method="post" action="/edit/{{ item['sno'] }}">
                                <button class="open-button"
                                    style="color: #0a1aff; width: 25px;     margin-inline-end: 23px; background-color: aqua; border-color: aqua;">
                                    &#9998;
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
    </div>
</body>

</html>


{% endblock %}