
{% extends "layout.html" %}
{% block body %}

<style>
.box {
    float: right;
    width: 301px;
    height: 216px;
    margin: 10px;
}
.card {
    width: 80%;
    /* height: 100%; */
}

 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
</style>

<h4>
    Corprate Sponsors
</h4>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/klyan.png" alt="Avatar" style="width: 207px;">
    </div>
</div>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/saya.jpg" alt="Avatar" style="width: 207px;">
    </div>
</div>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/klyan.png" alt="Avatar" style="width: 207px;">
    </div>
</div>
<h4>
    Stalls
</h4>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/stall1.jpg" alt="Avatar" style="width: 207px;">
    </div>
</div>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/stall2.jpg" alt="Avatar" style="width: 207px;">
    </div>
</div>
<div class="box">
    <div class="card">
        <img src="/static/assets/img/stall3.jpg" alt="Avatar" style="width: 207px;">
    </div>
</div>
<h4>
    Residents
</h4>
<a href="">Link to</a>
{% endblock %}